.jumbotron {
  padding-top: 6rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: whitesmoke;
}
#about {
  padding-top: 2rem;
}

}
#abc {
  padding-bottom: 4rem;
}
#Gallery {
  background-color: #F7B88C;
  size: cover;
  height: 1000px;
  padding-top: 5rem;
}

h1 {
	color:#963820;
	text-align: center;
}
h2 {
	color:#963820;
	text-align: center;
}
h3 {
	color:#963820;
	text-align: center;
}
h5 {
	color:#963820;
	text-align: center;
}

body{
	background-color:#F7B88C;
}
p {
	text-align: center; color:#963820;margin:5px 100px 50px 100px ;
}


